<div class="d-flex justify-content-space-between align-items-baseline">
    <h1 class="mb-20px">Administración de usuarios</h1>
    <ul class="web-routes">
        <li>Administrar</li>
        <li>/</li>
        <li>Usuarios</li>
    </ul>
</div>
<div class="d-flex g-20">
    <div class="col-4">
        <div class="card-number flex-wrap">
            <div class="number">
                0
            </div>
            <div class="icon">
                <i class="fa-solid fa-users"></i>
            </div>
            <div class="col-12 pt-10px">
                <p>Usuarios</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-number flex-wrap">
            <div class="number">
                0
            </div>
            <div class="icon">
                <i class="fa-solid fa-check"></i>
            </div>
            <div class="col-12 pt-10px">
                <p>Activos</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-number flex-wrap">
            <div class="number">
                0
            </div>
            <div class="icon">
                <i class="fa-solid fa-ban"></i>
            </div>
            <div class="col-12 pt-10px">
                <p>Baneados</p>
            </div>
        </div>
    </div>
</div>
<div class="d-flex mt-20px">
    <div class="table-responsive">
        <table id="miTabla" class="display" style="width: 100%;">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Rol</th>
                    <th>Nombre(s)</th>
                    <th>Apellido(s)</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function() {
        var tabla = $("#miTabla").DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: "/api/web/data/table",
                type: "POST",
                data: function (d) {
                    d.start = d.start || 0;
                    d.length = d.length;
                    d.action = "manage_users";
                    d.search = d.search.value || "";
                    d.order_column = d.columns[d.order[0].column].data;
                    d.order_direction = d.order[0].dir;
                },
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", api_CSRFToken);
                    }
                }
            },
            columns: [
                {data: "actions"},
                {data: "user_role.name"},
                {data: "user_person.name"},
                {data: "user_person.surname"},
                {data: "email"},
                {data: "user_person.phone"},
            ],
            searching: true,
            ordering: true
        });
    });
</script>