<div class="d-flex no-wrap g-20 justify-content-space-between align-items-baseline">
    <h1 class="mb-20px">Administración de usuarios</h1>
    <ul class="web-routes">
        <li>Administrar</li>
        <li>/</li>
        <li>Usuarios</li>
    </ul>
</div>
<div class="d-flex g-20">
    <div class="col-4">
        <div class="card-number flex-wrap">
            <div class="number">
                {{total}}
            </div>
            <div class="icon">
                <i class="fa-solid fa-users"></i>
            </div>
            <div class="col-12 pt-10px">
                <p>TOTAL</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-number flex-wrap">
            <div class="number">
                {{actives}}
            </div>
            <div class="icon">
                <i class="fa-solid fa-check"></i>
            </div>
            <div class="col-12 pt-10px">
                <p>Activos</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card-number flex-wrap">
            <div class="number">
                {{banned}}
            </div>
            <div class="icon">
                <i class="fa-solid fa-ban"></i>
            </div>
            <div class="col-12 pt-10px">
                <p>Baneados</p>
            </div>
        </div>
    </div>
</div>
<div class="d-flex mt-20px justify-content-flex-end">
    <a href="/manage/user/add" class="btn bg-primary"><i class="fa-solid fa-plus mr-5px"></i> Agregar</a>
</div>
<div class="d-flex mt-10px">
    <div class="table-responsive">
        <table id="myTable" class="display" style="width: 100%;">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Correo electrónico</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Status</th>
                    <th>Fecha de registro</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function() {
        var table = api_dataTable(
            "#myTable",
            "manage_users", 
            [
                {data: "actions"},
                {data: "email"},
                {data: "person.name"},
                {data: "person.surname"},
                {data: "status"},
                {data: "regdate"}
            ]
        );        
    });
</script>