@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-DemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

:root {
    --navbar-height: 60px;
    --bg-body: #ffffff;
    --bg-hover: #f6f6f6;
    --bg-border: #eceff1;
    --bg-input: rgba(0, 0, 0, 0.03);
    --text-color: #48525c;
    --text-color-2: #000000;
    --shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
    --primary: #204ecf;
    --primary-hover: rgba(31, 75, 197, 0.863);
    --danger: #df4759;
}

* {
    padding: 0;
    margin: 0;
    color: var(--text-color-2);
    font-family: 'VisbyRound', 'Roboto', sans-serif;
}

body {
    background: var(--bg-body);
    font-weight: 600;
}

body[class='theme-dark'] {
    --bg-body: #1e1e1e;
    --bg-input: rgba(255, 255, 255, .1);
    --text-color: #c1c1c1;
    --text-color-2: #ffffff;
    --shadow: 0px 0px 20px -5px rgba(255, 255, 255, 0.1);
    --primary: #204ecf;
}

.main-bg {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-bg .bg {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-bg .bg.img-1 {
    background-image: url('/assets/images/bg-1.jpg');
}

.main-bg .bg.img-2 {
    background-image: url('/assets/images/bg.png');
}

.main-bg .bg .color-1,
.main-bg .bg .color-2 {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.main-bg .bg .color-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    background: var(--primary);
    box-sizing: border-box;
}

.main-bg .bg .color-2 {
    background: var(--bg-body);
}

.main-bg .bg .color-1 h1,
.main-bg .bg .color-1 p {
    color: var(--bg-body);
}

.main-bg .bg .color-1 p {
    font-size: 1.2em;
}

.main-content {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.main-content .navbar {
    position: absolute;
    width: 100%;
    height: var(--navbar-height);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-content .navbar .content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 8px 10px 8px;
    box-sizing: border-box;
}

.main-content .navbar .content .name {
    display: flex;
    align-items: baseline;
    gap: 5px;
    text-decoration: none;
    margin-left: 16px;
    border-bottom: 1px solid transparent;
}

.main-content .navbar .content .name:hover {
    cursor: pointer;
}

.main-content .navbar .content .name i,
.main-content .navbar .content .name h1,
.main-content .navbar .content .name span {
    color: var(--bg-body);
}

.main-content .navbar .content .name h1 {
    height: 1.3em;
    font-size: 1.3em;
}

.main-content .navbar .content .name span {
    font-size: 0.9em;
}

.main-content .navbar .content .dark-mode {
    display: flex;
    align-items: stretch;
    gap: 8px;
    margin-left: auto;
    margin-right: 5px;
}

.main-content .navbar .content .dark-mode span {
    color: var(--text-color-2);
    font-size: 0.9em;
}

.custom-switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 22px;
}

.custom-switch__input {
    opacity: 0;
    width: 0;
    height: 0;
}

.custom-switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border-radius: 34px;
    transition: 0.4s;
    border: 1px solid var(--text-color-2);
}

.custom-switch__slider:before {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: var(--text-color-2);
    border-radius: 50%;
    transition: 0.4s;
}

.custom-switch__input:checked+.custom-switch__slider {
    background-color: transparent;
}

.custom-switch__input:checked+.custom-switch__slider:before {
    transform: translateX(15px);
}

/* Animación al cambiar el estado del switch */
.custom-switch__input {
    display: none;
}

.custom-switch__slider {
    transition: 0.4s;
}

.custom-switch__input:checked+.custom-switch__slider:before {
    animation: custom-slide 0.4s;
}

@keyframes custom-slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(15px);
    }
}

.main-content .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-content .box .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 525px;
    min-height: 400px;
    background: var(--bg-body);
    border-radius: 20px;
    padding: 40px;
    box-shadow: var(--shadow);
    box-sizing: border-box;
}

.main-content .box .card .content {
    width: 100%;
    height: 100%;
}

.main-content .box .card .title {
    text-align: center;
}

.main-content .box .card .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-content .box .card .row .separate {
    width: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid var(--primary);
    border-radius: 10px;
}

.main-content .box .card .row p {
    margin-top: 40px;
}


.main-content .box .card .row p a {
    font-weight: bold;
    text-decoration: none;
    color: var(--primary);
}

.main-content .box .card .row p a:hover {
    text-decoration: underline;
}

.main-content .box .card .form-input {
    display: flex;
    align-items: center;
    gap: 5px;
    background: var(--bg-input);
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    width: 100%;
    border-radius: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.main-content .box .card .form-input i {
    width: 30px;
    font-size: 1em;
    color: var(--text-color-2);
}

.main-content .box .card .form-input input {
    padding: 5px 5px 5px 0px;
    background: transparent;
    border: none;
    outline: 0;
    width: 100%;
    font-size: 0.95em;
    font-weight: 600;
}

.main-content .box .card .form-input input::placeholder {
    color: var(--text-color);
}

.main-content .box .card .form-input input:active,
.main-content .box .card .form-input input:focus-visible {
    background: transparent;
    border: none;
    outline: 0;
}

.main-content .box .card .btn {
    margin-top: 15px;
    width: 100%;
    height: 40px;
    background: var(--primary);
    border: none;
    border-radius: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-content .box .card .btn,
.main-content .box .card .btn span,
.main-content .box .card .btn span i {
    font-size: 0.97em;
    font-weight: 600;
    color: #fff;
}

.main-content .box .card .btn:hover {
    cursor: pointer;
    background: var(--primary-hover);
}

.main-content .box .card .btn:disabled {
    cursor: default;
    background: var(--primary);
    opacity: 0.5;
}

.preloader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;    
}

.preloader .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    animation: rotate 1s linear infinite alternate, loaderClip 2s linear infinite alternate;
}

.preloader .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid var(--primary);
    animation: loaderClip 2s linear infinite alternate;
}

.btn .preloader .loader {
    width: 22px;
    height: 22px;
}

.btn .preloader .loader::before {   
    border: 4px solid #fff;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loaderClip {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}


.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    font-size: 0.95em;
    color: var(--text-color-2);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.alert {
    display: flex;
    padding: 20px;
    width: 100%;    
    border-radius: 5px;
    box-sizing: border-box;
}

.alert.alert-danger {
    background: var(--danger);
}

.alert.alert-primary {
    background: var(--primary);
}

.alert .body {
    width: 100%;
    color: #fff;
}

.alert .body span {
    font-weight: bold;
    color: #fff;
}

.alert .close {
    text-align: end;
    width: 20px;
}

.alert .close i {
    color: #fff;
}

.alert .close:hover {
    cursor: pointer;
}

.alert .close:hover i {
    opacity: 0.7;
}

.alert .close:active i {
    opacity: 1;
}

/* SMARTPHONE, TABLET */
@media (max-width: 1023px) {
    .main-bg .bg.img-1 {
        width: 100%;
    }

    .main-bg .bg.img-2 {
        display: none;
    }

    .main-content .navbar .content .dark-mode span {
        color: var(--bg-body);
    }

    .custom-switch__slider {
        border: 1px solid var(--bg-body);
    }

    .custom-switch__slider:before {
        background-color: var(--bg-body);
    }

    .footer {
        color: var(--bg-body);
    }
}

@media (max-width: 500px) {
    .main-content .box .card {
        width: 90%;
    }
}