<h2 class="title">Registro</h2>
<form id="form-signUp" autocomplete="off">
    <div class="row">
        <div class="separate"></div>
    </div>
    <div class="form-input">
        <i class="fa-solid fa-user"></i>
        <input type="text" name="name" placeholder="Nombre(s)">
    </div>
    <div class="form-input">
        <i class="fa-solid fa-user"></i>
        <input type="text" name="surname" placeholder="Apellido(s)">
    </div>           
    <div class="form-input">
        <i class="fa-solid fa-envelope"></i>
        <input type="text" name="email" placeholder="Correo electrónico">
    </div>
    <div class="form-input">
        <i class="fa-solid fa-lock"></i>
        <input type="password" name="password" placeholder="Contraseña">
    </div>
    <div class="form-input">
        <i class="fa-solid fa-lock"></i>
        <input type="password" name="cpassword" placeholder="Confirmar contraseña">
    </div>
    <button type="submit" class="btn submit"><span><i class="fa-solid fa-right-to-bracket"></i> Registrarse</span></button>
    <div class="row">
        <p>¿Ya tienes cuenta? <a href="/auth/sign-in">Inicia sesión</a>.</p>
    </div> 
</form>  
<script>
    var btnHtml = $("#form-signUp .btn.submit").html();
    
    $("#form-signUp").on("submit", function(e){
        e.preventDefault();
        var btn = $(this).find(".btn.submit");
        
        auth_loadloader(btn.find("span"), $("#main-preloader").html(), btn, true, 100, 400);        

        var formData = new FormData(this);
        formData.append("action", "sign-up")
        
        var response = auth_sendData({url: "data/auth", type: "POST", formData: formData});
        setTimeout(function(){
            response.then(function (response) {
                if(!response.success){
                    auth_loadloader(btn.find("span"), btnHtml, btn, false, 400, 400);

                    $("#form-signUp").find(".row:first").after(auth_alert({text: response.msg}));
                    return;
                }            
                
                $("#form-signUp").find(".row:first").after(auth_alert({type: "primary", title: "¡Exito!", text: response.msg}));
                setTimeout(function(){                
                    auth_loadWidget("/auth/sign-in")
                }, 2000);
                return;
            }).catch(function (response) {
                auth_loadloader(btn.find("span"), btnHtml, btn, false, 400, 400);
                return;
            });
        }, 1000);
    }); 
</script>