<div class="d-flex flex-direction-column w-100 align-items-center"> 
    <div class="d-flex-w-60 g-20 no-wrap justify-content-space-between align-items-baseline">
        <h1 class="mb-20px">Administración de prodcutos</h1>
        <ul class="web-routes">
            <li>Administrar</li>
            <li>/</li>
            <li>Producto</li>
            <li>/</li>
            <li>Editar</li>
        </ul>
    </div>
    <div class="d-flex-w-60 mt-20px"> 
        <div class="card">
            <div class="head">
                <h1>Editar</h1>
            </div>
            <form id="form-edit" autocomplete="off"> 
                <div class="body">
                    <div class="form-input">
                        <i class="fa-solid fa-align-justify"></i>
                        <input type="text" name="name" placeholder="Nombre" value="{{item.name}}">
                    </div>       
                    <div class="form-input">
                        <i class="fa-solid fa-list-ul"></i>
                        <textarea name="description" placeholder="Descripción">{{item.description}}</textarea>
                    </div>       
                    <div class="form-input">
                        <i class="fa-solid fa-tag"></i>
                        <input type="text" name="price" placeholder="Precio" value="{{item.price}}">
                    </div>  
                    <div class="form-input">
                        <i class="fa-solid fa-building-columns"></i>
                        <select name="product_category_id">
                            {% for product_category in product_categories %}
                            <option value="{{product_category._id}}" {% if product_category._id == item.product_category._id %}selected{% endif %}>{{product_category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-input">
                        <i class="fa-solid fa-eye"></i>
                        <label class="switch">
                            <input type="checkbox" name="status" {% if item.status %}checked{% endif %}>
                            <span class="slider"></span>
                        </label> 
                    </div>                                      
                </div>
                <div class="footer">
                    <button type="submit" class="btn bg-outline-primary"><span><i class="fa-solid fa-save"></i> Guardar</span></button>
                </div>
            </form> 
        </div>
    </div> 
</div> 
<script>
    var btnSubmit = $("#form-edit button[type='submit']").html();
    
    $("#form-edit").on("submit", function(e){
        e.preventDefault();
        var btn = $(this).find("button[type='submit']");
        
        api_loadloader(btn.find("span"), $("#preolader-circle").html(), btn, true, 100, 400);        

        var formData = new FormData(this);
        formData.append("action", "edit")
        formData.append("id", "{{item._id}}")
        
        var response = api_sendData({url: "data/manage/products", type: "POST", formData: formData});
        setTimeout(function(){
            response.then(function (response) {
                if(!response.success){
                    api_loadloader(btn.find("span"), btnSubmit, btn, false, 400, 400);
                    $("#form-edit").find(".body").prepend(api_alert({text: response.msg}));
                    return;
                }            
                
                $("#form-edit").find(".body").prepend(api_alert({type: "primary", title: "¡Exito!", text: response.msg}));
                setTimeout(function(){    
                    api_loadWidget('/manage/products')
                }, 2000);
                return;
            }).catch(function (response) {
                api_loadloader(btn.find("span"), btnSubmit, btn, false, 400, 400);
                $("#form-edit").find(".body").prepend(api_alert({text: response.responseJSON.msg}));
                return;
            });
        }, 1000);
    }); 
</script>