.fw-bold {
    font-weight: bold;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.mw-100px{
    min-width: 100px;
}

.h-100 {
    height: 100%;
}

.h-100vh {
    height: 100vh;
}

.h-100vh {
    height: 100vh;
}

.mt-5px {
    margin-top: 5px;
}

.mt-10px {
    margin-top: 10px;
}

.mt-15px {
    margin-top: 15px;
}

.mt-20px {
    margin-top: 20px;
}

.mt-30px {
    margin-top: 30px;
}

.mt-40px {
    margin-top: 40px;
}

.mt-50px {
    margin-top: 50px;
}

.mt-60px {
    margin-top: 60px;
}
.mr-5px {
    margin-right: 5px;
}

.mr-10px {
    margin-right: 10px;
}

.mb-10px {
    margin-bottom: 10px;
}

.mb-15px {
    margin-bottom: 15px;
}

.mb-20px {
    margin-bottom: 20px;
}

.mb-25px {
    margin-bottom: 25px;
}

.mb-30px {
    margin-bottom: 30px;
}

.pt-10px {
    padding-top: 10px;
}

.pb-10px {
    padding-bottom: 10px;
}

.overflow-y-auto{
    overflow-y: auto;
}

.overflow-x-auto{
    overflow-x: auto;
}

.d-flex {
    display: flex;
}

.d-flex-w-60 {
    display: flex;
    width: 60%;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap !important;
}

.justify-content-center {
    justify-content: center
}

.justify-content-space-between {
    justify-content: space-between !important;

}

.justify-content-flex-end {
    justify-content: flex-end
}

.align-items-center {
    align-items: center
}

.align-items-baseline {
    align-items: baseline
}

.align-items-flex-end {
    align-items: flex-end
}

.g-5 {
    gap: 5px;
}

.g-10 {
    gap: 10px;
}

.g-15 {
    gap: 15px;
}

.g-20 {
    gap: 20px;
}

.col-8 {
    width: calc(100% - (100% / 3));
}

.col-4 {
    width: calc(100% / 3);
}

.col-3 {
    width: calc(100% / 4);
}

.g-20 .col-8 {
    width: calc((100% - 20px) - (100% / 3));
}

.g-10 .col-3 {
    width: calc((100% - 30px) / 4);
}

.g-10 .col-4 {
    width: calc((100% - 20px) / 3);
}

.col-12 {
    width: 100%;
}

.error-astronaut {
    position: absolute;
    right: 44%;
    top: 132px;
    animation: spin 4.5s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}


@media (max-width: 1023px) {
    .d-flex {
        flex-wrap: wrap;
    }

    .d-flex.no-wrap {
        flex-wrap: nowrap;
    }

    .col-8, .col-4, .col-3 {
        width: 100% !important;
    }

    .d-flex-w-60 {
        display: flex;
        width: 100%;
    }    
}  