@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-DemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

:root {
    --primary: 32, 78, 207;
    --primary-hover: #1f4bc5dc;
    --bg-body: 255, 255, 255;
    --navbar-height: 65px;
    --text-color: #000000;
}

* {
    padding: 0;
    margin: 0;
    color: var(--text-color);
    font-family: 'VisbyRound', 'Roboto', sans-serif;
}

.d-flex {
    display: flex;
}

.bg-primary {
    background: rgba(var(--primary));
}

.navbar {
    position: absolute;
    width: 100%;
    height: var(--navbar-height);
    z-index: 1000;
}

.navbar .container {
    display: flex;
    padding: 0px 30px 0px 30px;
    height: 100%;
    box-sizing: border-box;
}

.navbar .container .logo {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    color: rgba(var(--bg-body));
    text-decoration: none;
}

.app {
    width: 100%;
    height: 100%;
}

.app .section-info {
    background-image: url('/assets/images/bg-1.jpg');
}

.app .section-info .info {
    display: flex;
    position: absolute;
    width: 100%;
    height: 80vh;
    z-index: 1;
}

.app .section-info .info .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    font-size: 40px;
    font-weight: bold;
    margin-top: -180px;
    padding: 0px 80px 0px 80px;
    color: rgba(var(--bg-body));
}

.app .section-info .info .text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.app .section-info .design {
    position: relative;
    background: rgba(var(--primary), 0.5);
    width: 100%;
    height: 80vh;
    z-index: 0;
}

.app .section-info .design .wave {
    position: absolute;
    width: 100%;
    height: auto;
    margin-bottom: -5px;
    bottom: 0;
}

.app .section-description {
    width: 100%;
    padding: 20px 20% 20px 20%;
    box-sizing: border-box;
}

.app .section-description .description {
    display: flex;
    align-items: center;
    gap: 30px;
}

.app .section-description .description .data {
    display: flex;
    flex-direction: column;    
    width: 60%;
}

.app .section-description .description .data h1 {    
    font-size: 30px;
    text-align: center;
}

.app .section-description .description .data p {    
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 20px;
    text-align: justify;
    font-weight: 500;
}

.app .section-description .description .image {    
    width: 40%;
}

.app .section-description .description .image .img {    
    width: 100%;
}

.btn {
    display: flex;
    align-items: stretch;
    justify-content: center;
    border-radius: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    gap: 5px;
    z-index: 1000;
}

.btn-sm {
    display: flex;
    align-items: stretch;
    justify-content: center;
    border-radius: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 6px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    gap: 5px;
    z-index: 1000;
}

.btn.bg-primary span, .btn-sm.bg-primary span, .btn.bg-primary i, .btn-sm.bg-primary i {
    font-size: 15px;
    color: white !important;
    font-weight: 600;
}

.btn.bg-primary:hover, .btn-sm.bg-primary:hover {
    background: var(--primary-hover);
}