<div class="d-flex no-wrap g-20 justify-content-space-between align-items-baseline">
    <h1 class="mb-20px">Mesas</h1>
    <ul class="web-routes">
        <li>Camareros</li>
        <li>/</li>
        <li>Mesas</li>
    </ul>
</div>
<div class="d-flex flex-wrap g-10">
    {% for table in tables %}
    <a href="/app/table?id={{table._id}}" class="card-table col-4">
        <div class="card">
            <div class="head d-flex justify-content-space-between">
                <h1>{{table.name}}</h1>
                <span class="badge {% if table.table_status._id == 1 %}bg-primary-opacity{% elif table.table_status._id == 2 %}bg-danger-opacity{% elif table.table_status._id == 3 %}bg-danger-opacity{% endif %}"><i class="fa fa-circle"></i> {{table.table_status.name}}</span>
            </div>
            <div class="body cart-container">
                {% for reservation in reservations %}
                {% if table._id == reservation.table._id and reservation.date|datelocal_time >= datetime_now and reservation.date|datelocal_time <= datetime_end %}
                <!-- and reservation.date|datelocal_time <= datetime_end -->
                <ul>
                    <li class="mb-10px no-hover">
                        <div class="d-flex flex-wrap g-10">
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-person-chalkboard" style="font-size: 24px;"></i>
                            </div>
                            <div class="d-flex flex-direction-column">
                                <p class="fw-bold">Reservacion</p>
                                <p class="fw-500">{{reservation.customer.person.name}} {{reservation.customer.person.surname}}</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <p class="fw-bold">{{reservation.date|datelocal}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </a>
    {% endfor %}
</div>