<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevsFlex - Restaurant</title>
    <link rel="stylesheet" href="/assets/vendor/animate.min.css"></style>
    <link rel="stylesheet" href="/assets/css/panel.css"></style>
    <link rel="stylesheet" href="/assets/vendor/fontawesome-free-6.4.0-web/css/all.min.css"></style>
    <link rel="stylesheet" href="/assets/css/sizes.css"></style>
    <link rel="stylesheet" href="/assets/css/datatables.css"></style>
</head>
<body>
    <div id="preolader-circle" style="display: none;">
        <div class="preloader-circle">
            <span class="loader-circle"></span>
        </div>
    </div>    
    <div id="preolader-content" style="display: none;">
        <div class="preloader">
            <div class="content">
                <div class="title"></div>
                <div class="path"></div>
            </div> 
            <div class="content">
                <div class="info"></div>
                <div class="info"></div>
                <div class="info"></div>
                <div class="table"></div>
            </div>        
        </div>
    </div>
    <nav class="navbar">
        <div class="content">
            <i class="btn fa-solid fa-bars active"></i>            
            <a class="name" href="/dashboard"><h1>DevsFlex</h1> <span>RESTAURANT</span></a>
            <div class="user">
                <div class="info">
                    <p>Jesus Navarro</p>
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="dropdown animate__animated animate__faster">
                    <ul>
                        <li><a href=""><i class="fa-solid fa-circle-user"></i> Cuenta</a></li>
                        <li><a href=""><i class="fa-regular fa-user"></i> Cuenta</a></li>
                        <li class="separate"></li>
                        <li><a href="/auth/logout" type="_blank"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesion</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav> 
    <nav class="navbar-menu active">
        <div class="content">
            <ul class="menu">
                <li class="name"><span>Navegación</span></li>
                <li><a href="/dashboard"><i class="fa-solid fa-home"></i> <span>Inicio</span></a></li>
                <li class="name"><span>Cocineros</span></li>
                <li><a href="/app/orders"><i class="fa-solid fa-receipt"></i> <span>Pedidos</span></a></li>
                <li class="name"><span>Camareros</span></li>
                <li><a href="/app/tables"><i class="fa-solid fa-utensils"></i> <span>Mesas</span></a></li>                
                <li class="name"><span>Administración</span></li>
                <li><a href="/manage/orders"><i class="fa-solid fa-receipt"></i> <span>Pedidos</span></a></li>
                <!--<li><a href="/manage/order/types"><i class="fa-solid fa-timeline"></i> <span>Tipos de pedido</span></a></li>-->
                <li><a href="/manage/customers"><i class="fa-solid fa-user-group"></i> <span>Clientes</span></a></li>
                <li><a href="/manage/products"><i class="fa-solid fa-mug-saucer"></i> <span>Productos</span></a></li>
                <li><a href="/manage/product/categories"><i class="fa-solid fa-sitemap"></i> <span>Categorías de producto</span></a></li>   
                <li><a href="/manage/tables"><i class="fa-solid fa-utensils"></i> <span>Mesas</span></a></li>
                <!--<li><a href="/manage/table/reservations"><i class="fa-solid fa-person-chalkboard"></i> <span>Reservaciones</span></a></li>-->
                <li><a href="/manage/users"><i class="fa-solid fa-users"></i> <span>Usuarios</span></a></li>                
            </ul>            
        </div>
    </nav>
    <section class="main-content active" id="content">
        
    </section>
    <p class="footer">© 2023 DevsFlex. Reservados todos los derechos.</p>
    <script src="/assets/js/jquery-3.7.0.min.js"></script>
    <script src="/assets/js/api.js"></script>
    <script src="/assets/js/datatables.min.js"></script>
    <script type="text/javascript" src="/assets/js/tsparticles.bundle.min.js"></script>
    <script type="text/javascript" src="/assets/js/sweetalert2@11.js"></script>
    <script src="/assets/js/socket.io.js"></script>
    <script>
        var screenWidth = $(window).width();

        $(document).ready(function() {           
            $(document).on("click", ".navbar .content .btn", function(){
                $(this).toggleClass("active");
                $(".navbar-menu").toggleClass("active");
                $(".main-content").toggleClass("active");
                $(".navbar-menu .content ul li a span").fadeToggle(50);
            });

            $(document).on("click", ".navbar .content .user", function(event) {
                var $dropdown = $(this).find(".dropdown");
                if ($dropdown.hasClass("active")) {
                    api_closeDropdown($dropdown);
                } else {
                    api_openDropdown($dropdown);
                }
                event.stopPropagation();
            });

            $(document).on("click", function(event) {
                var $dropdown = $(".navbar .content .user .dropdown");
                if ($dropdown.hasClass("active") && !$(event.target).closest(".navbar .content .user .dropdown").length) {
                    api_closeDropdown($dropdown);
                }
                event.stopPropagation();
            });

            api_displayDeviceInfo();
        });        

        function api_openDropdown($dropdown) {
            $dropdown.css("display", "block");
            $dropdown.removeClass("animate__fadeOutRight");
            $dropdown.addClass("active animate__fadeInRight");
        }

        function api_closeDropdown($dropdown) {
            $dropdown.css("display", "block");
            $dropdown.removeClass("animate__fadeInRight");
            $dropdown.addClass("animate__fadeOutRight");
            $dropdown.removeClass("active");
        }

        function api_displayDeviceInfo() {
            if (screenWidth > 1023) {
                $(".navbar .content .btn").toggleClass("active");
                $(".navbar-menu").toggleClass("active");
                $(".main-content").toggleClass("active");
                $(".navbar-menu .content ul li a span").fadeToggle(50);
            }
        }
    </script>
</body>
</html>