<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevsFlex - Auth</title>
    <link rel="stylesheet" href="/assets/vendor/animate.min.css"></style>
    <link rel="stylesheet" href="/assets/css/auth.css"></style>
    <link rel="stylesheet" href="/assets/vendor/fontawesome-free-6.4.0-web/css/all.min.css"></style>
</head>
<body class="theme-{{theme}}">
    <div id="main-preloader" style="display: none;">
        <div class="preloader">
            <span class="loader"></span>
        </div>
    </div>    
    <div class="main-bg">
        <div class="bg img-1">
            <div class="color-1">
                <h1>¡Vamos a trabajar ahora!</h1>
                <p>Bienvenido/a ahora inicia sesión o regístrate.</p>                
            </div>            
        </div>
        <div class="bg img-2">
            <div class="color-2"></div>
        </div>        
    </div>
    <div class="main-content">
        <nav class="navbar">            
            <div class="content">                
                <a class="name" href="/" type="location"><h1>DevsFlex</h1> <span>AUTH</span></a> 
                <div class="dark-mode">
                    <span>Dark Mode</span>
                    <label class="custom-switch">                        
                        <input type="checkbox" id="dark-mode" class="custom-switch__input" {% if theme == 'dark' %}checked{% endif %}>
                        <span class="custom-switch__slider"></span>
                    </label>
                </div>              
            </div>
        </nav>
        <div class="box">
            <div class="card">
                <div class="content" id="auth_content">
                    
                </div>                           
            </div>
        </div>          
    </div>
    <div class="footer">© 2023 DevsFlex. Reservados todos los derechos.</div>
    <script src="/assets/js/jquery-3.7.0.min.js"></script>
    <script src="/assets/js/jquery.cookie.min.js"></script>
    <script src="/assets/js/auth.js"></script>
</body>
</html>