@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-DemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-ExtraLight.otf') format('opentype');
    font-weight: 200; 
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

:root {
    --bg-body: #ffffff;   
    --bg-hover: #f6f6f6; 
    --navbar-height: 60px;
    --text-color: #48525c;
    --text-color-2: #000000;
    --primary: #204ecf;
}

* {
    padding: 0;
    margin: 0;
    color: var(--text-color-2);
    font-family: 'VisbyRound', 'Roboto', sans-serif;
}

body {
    background: var(--bg-body);     
    font-weight: 600;
}

.main-bg {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.main-bg .bg {
    width: 50%;
    height: 100%; 
    background-repeat: no-repeat;
    background-size: cover;   
}

.main-bg .bg.img-1 {
    background-image: url('/assets/images/bg-1.jpg');
}  

.main-bg .bg.img-2 {
    background-image: url('/assets/images/bg.png');
}  


.main-bg .bg .color-1, .main-bg .bg .color-2 {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.main-bg .bg .color-1 {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    background: var(--primary);
    box-sizing: border-box;
}

.main-bg .bg .color-2 {    
    background: var(--bg-body);
}

.main-bg .bg .color-1 h1, .main-bg .bg .color-1 p {    
    color: var(--bg-body);
}

.main-bg .bg .color-1 p {    
    font-size: 1.2em;
}

.main-content {
    position: absolute;
    width: 100vw;
    height: 100vh;   
}

.main-content .navbar {
    position: absolute;
    width: 100%;
    height: var(--navbar-height);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-content .navbar .content {    
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 8px 10px 8px;
    box-sizing: border-box;
}

.main-content  .navbar .content .name {
    display: flex;
    align-items: baseline;
    gap: 5px;
    text-decoration: none;
    margin-left: 16px;
    border-bottom: 1px solid transparent;
}

.main-content  .navbar .content .name:hover {
    cursor: pointer;
}

.main-content  .navbar .content .name i, .main-content  .navbar .content .name h1, .main-content  .navbar .content .name span {
    color: var(--bg-body);
}

.main-content  .navbar .content .name h1 {
    height: 1.3em;
    font-size: 1.3em;
}

.main-content  .navbar .content .name span {
    font-size: 0.9em;
}

.main-content .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-content .box .card {
    width: 525px;
    height: 700px;
    background: var(--bg-body);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    font-size: 0.95em;
    color: var(--text-color);
}

/* SMARTPHONE, TABLET */
@media (max-width: 1023px) {
    .main-bg .bg.img-1{
        width: 100%;
    }
    .main-bg .bg.img-2 {
        display: none;
    }      
}  

@media (max-width: 500px) {
    .main-content .box .card {
        width: 90%;
        height: 700px;
    }  
}