@import url('design.css');

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-DemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

:root {
    --primary: 32, 78, 207;
    --bg-body: 255, 255, 255;
    --navbar-height: 60px;
    --text-color: #000000;
}

* {
    padding: 0;
    margin: 0;
    color: var(--text-color);
    font-family: 'VisbyRound', 'Roboto', sans-serif;
}

.navbar {
    position: absolute;
    width: 100%;
    height: var(--navbar-height);
    z-index: 1000;
}

.navbar .container {
    display: flex;
    padding: 0px 25px 0px 25px;
    height: 100%;
    box-sizing: border-box;
}

.navbar .container .logo {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 22px;
    font-weight: bold;
    color: rgba(var(--bg-body));
    text-decoration: none;
}

.app {
    width: 100%;
    height: 100%;
}

.app .section-info {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%; 
    z-index: 0;   
}

.app .section-info .info {
    display: flex;
    flex-direction: column;    
    padding: var(--navbar-height) 25px 25px 25px;
    width: 100%;
    height: 100%;
    background: rgba(var(--primary));
    box-sizing: border-box;
}

.app .section-info .info .title {
    text-transform: uppercase;
    color: rgba(var(--bg-body));
    font-size: 35px;
}

.app .section-info .info .description {
    color: rgba(var(--bg-body), 0.8);
    font-size: 25px;
}

.app .section-info .wave {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
}