@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-DemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'VisbyRound';
    src: url('/assets/fonts/VisbyRound/VisbyRoundCF-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

:root {
    --primary: 32, 78, 207;
    --bg-body: 255, 255, 255;
    --navbar-height: 65px;
    --text-color: #000000;
}

* {
    padding: 0;
    margin: 0;
    color: var(--text-color);
    font-family: 'VisbyRound', 'Roboto', sans-serif;
}

.navbar {
    position: absolute;
    width: 100%;
    height: var(--navbar-height);
    z-index: 1000;
}

.navbar .container {
    display: flex;
    padding: 0px 30px 0px 30px;
    height: 100%;
    box-sizing: border-box;
}

.navbar .container .logo {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    color: rgba(var(--bg-body));
    text-decoration: none;
}

.app {
    width: 100%;
    height: 100%;
}

.app .section-info {
    background-image: url('/assets/images/bg-1.jpg');
}

.app .section-info .info {
    display: flex;
    position: absolute;
    width: 100%;
    height: 80vh;
    z-index: 1;
}

.app .section-info .info .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    font-size: 40px;
    font-weight: bold;
    margin-top: -180px;
    padding: 0px 80px 0px 80px;
    color: rgba(var(--bg-body));
}

.app .section-info .info .text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.app .section-info .design {
    position: relative;
    background: rgba(var(--primary), 0.5);
    width: 100%;
    height: 80vh;
    z-index: 0;
}

.app .section-info .design .wave {
    position: absolute;
    width: 100%;
    height: auto;
    margin-bottom: -5px;
    bottom: 0;
}