<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevsFlex</title>
    <link rel="stylesheet" href="/assets/vendor/animate.min.css"></style>
    <link rel="stylesheet" href="/assets/css/styles.css"></style>
    <link rel="stylesheet" href="/assets/vendor/fontawesome-free-6.4.0-web/css/all.min.css"></style>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="logo">
                DevsFlex
            </a>
        </div>
    </nav>
    <div class="app">
        <section class="section-info">
            <div class="info">
                <h1 class="title">¡Haz tus ideas a realidad digital!</h1>
                <p class="description">Siuu</p>
            </div>                
            <div class="wave">
                
            </div>
        </section>
    </div>
</body>
</html>